---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";
import Latex from "../../components/Latex.astro";
import SEOHeader from "../../components/SEOHeader.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
const ogImageUrl = `/blog/${post.slug}/og-image.png`;
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const codeBlocks = document.querySelectorAll("pre");

    codeBlocks.forEach((block) => {
      const button = document.createElement("button");
      button.className = "copy-button";
      button.textContent = "Copy";

      block.appendChild(button);

      button.addEventListener("click", () => {
        //@ts-ignore
        const code = block.querySelector("code").textContent;
        navigator.clipboard
          //@ts-ignore
          .writeText(code)
          .then(() => {
            button.textContent = "Copied!";
            setTimeout(() => {
              button.textContent = "Copy";
            }, 2000);
          })
          .catch((error) => {
            console.error("Failed to copy: ", error);
            button.textContent = "Error";
          });
      });
    });
  });
</script>
<head>
  <meta charset="UTF-8" />
  <SEOHeader
    title={post.data.title}
    description={post.data.description}
    url={Astro.url.toString()}
    ogImageUrl={ogImageUrl}
  />
</head>
<body class="">
  <BlogPost {...post.data}>
    <Content components={{ Latex }} />
  </BlogPost>
</body>
