---
import type { CollectionEntry } from "astro:content";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

interface Props {
  title: string;
  description: string;
  publishedAt: Date;
  readingTime: number;
}

const { title, publishedAt, readingTime } = Astro.props;
---

<html lang="en">
  <body class="max-w-4xl mx-auto mx-4">
    <Header />
    <main class="max-w-4xl mx-auto px-4">
      <article class="w-full">
        <div class="title">
          <div class="space-y-4">
            <h1 class="text-4xl font-bold">{title}</h1>
            <div class="text-sm text-gray-500">
              Last updated on <FormattedDate date={publishedAt} />
            </div>
            <div class="text-sm text-gray-500">
              {Math.round(readingTime)} minute read
            </div>
          </div>
          <div class="mt-6 mb-8">
            <img
              src={`/og-images/${Astro.params.slug}.png`}
              alt={`Hero image for ${title}`}
              class="w-3/4 h-auto rounded-lg shadow-md mx-auto"
            />
          </div>
          <div class="py-4"></div>
          <div class="prose max-w-none lg:prose-md prose-lg">
            <slot />
          </div>
        </div>
      </article>
      <Footer />
    </main>
  </body>
</html>
